/target/
!.mvn/wrapper/maven-wrapper.jar
 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#file mac
.DS_Store
**/.DS_Store


#file visual code ddsasss sas assas assas sasaas ddsd fdd
*/.vscode/

#generacion de codigo compilacion
*.jar.original
*.jar

